{% extends 'partials/simplesearch_base.html.twig' %}

{% block content %}
    <div class="content-padding">
    <h1 class="search-header">Suchresultate</h1>
    <h3>Suchbegriff: "{{ query }}" -  In {{ search_results.count }} {{ 'Page'|pluralize(search_results.count) }} gefunden</h3>

    {% for page in search_results %}
        {% include 'partials/simplesearch_item.html.twig' with {'page':page} %}
    {% endfor %}
    </div>
{% endblock %}
