{% extends 'partials/base.html.twig' %}

{% block content %}
	<style>
		#navigation{
			display: none;
		}
	</style>
	<div id="error" class="errorwrapper">
		<img src="{{ theme_url }}/images/layout/404.png" width="300">
		<div>
			<h1>{{ page.header.http_response_code }}</h1>
			<h3>
				{{ page.content }}
			</h3>
		</div>
	</div>
{% endblock %}
