/*#menu-overlay{
	position: absolute;
	width: 100%;
	z-index: 110;
	background: rgba(0,0,0,0.89);
	top: auto;
  	visibility:hidden;
  	opacity:0;
  	transition:visibility 0s ease 0.3s,opacity 0.3s ease;
  	overflow: hidden;
  	bottom: auto;
}*/